* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
img {
  width: 100vw; /* 100% of the viewport width */
  height: auto; /* 100% of the viewport height */
  object-fit: cover; /* Ensures the image covers the screen without distortion */
}
  
